.vscode/
__pycache__/
/data/embeddings/word2vec_col.txt
/data/Train_DataSet
/data/Test_DataSet
.venv_nlp
.NLP_rest
init.sh
/notebooks/data_analysis_edi.ipynb
.setup_env.sh
.DS_Store
/notebooks/trained_model/
/notebooks/data_analysis_ezau_copy2.ipynb
/notebooks/data_analysis_ezau_copy.ipynb
/notebooks/ezau_run_final.txt

