/data/Train_DataSet
/data/Test_DataSet
.venv_nlp
.NLP_rest
init.sh
/notebooks/data_analysis_edi.ipynb
.setup_env.sh
.vscode/
__pycache__/

.DS_Store
/data/embeddings/word2vec_col.txt
/notebooks/trained_model/